{% extends 'base.html' %}

{% block title %}

{{room.name}}

{% endblock %}

{% block content %}
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <form id="post_form" action="checkRoom" method="post">
            <div class="card card-4">
           
                <div class="input-group m-5">
                    <label class="label">Room Name</label>
                    <input class="input--style-4" type="text" name="room_name">
                </div>

                <div class="input-group">
                    <label class="label">Username</label>
                    <input class="input--style-4" type="text" name="username">
                </div>
                <div class="p-t-15">
                    <button class="btn btn--radius-2 btn--green" type="submit">Enter Room</button>
                </div>
                {% csrf_token %}
            </div>
        </form>
                    
    </div>
</div>

{% endblock %}

                        
        
