{% extends 'base.html' %}

{% block content %}

    <form action="" method="post">
            {% if messages %}
            {% for m in messages %}
              <div class="alert alert-danger">{{m}}</div>
            {% endfor %}
            {% endif %}
            
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="text-center">Contact Us</h2>
                        <form method="POST">
                              
                              <div class="input-group">
                                  <label class="label">Name</label>
                                  <input class="input--style-4" type="text" name="name">
                                  
                              </div>
                              <div class="input-group">
                                  <label class="label">Email</label>
                                  <input class="input--style-4" type="text" name="email">
                                  
                              </div>
                              <div class="input-group">
                                  <label class="label">Phone Number</label>
                                  <input class="input--style-4" type="text" name="phone-no">
                                  
                              </div>
                              <div class="input-group">
                                  <label class="label">Message</label>
                                  <textarea name="Message" id="" cols="75" rows="10"></textarea>   
                              </div>
                              <div class="p-t-15">
                                  <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                              </div>
                            {% csrf_token %}
                        </form>
                </div>     
            </div>
        </div>
    </div>
            
        

{% endblock %}