{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}


    
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
          <div class="card card-4">
              <div class="card-body">
                <form action="" method="post">
                    {% if messages %}
                    {% for m in messages %}
                      <div class="alert alert-success">{{m}}</div>
                    {% endfor %}
                    {% endif %}
                    <h2 class="text-center">Enter Amount</h2>
                    {{form.as_p}}
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Make Payment</button>
                    </div>
                    {% csrf_token %}
                </form>   
            </div>
        </div>
    </div>

{% endblock %}

            