<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h3>Sign In</h3>
    <form method="post" action="/login" class="mb-2">
        {% csrf_token %}
        <label for="email">Enter email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email Address" Required>
        <br> <br>
        <label for="pass1">Password</label>
        <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
        <br> <br>
        <button type="submit" class="btn btn-primary">LOGIN</button>
    </form>
</body>
</html>